.hewi36y {
  display: table;
  position: relative;
  font-weight: 800;
  -webkit-letter-spacing: -0.02em;
  -moz-letter-spacing: -0.02em;
  -ms-letter-spacing: -0.02em;
  letter-spacing: -0.02em;
  font-size: var(--hewi36y-0);
  overflow: hidden;
}
.hewi36y:before {
  content: '';
  position: absolute;
  bottom: 2%;
  height: 2px;
  background: red;
  -webkit-animation: animateUnderline-hewi36y ease-in-out;
  animation: animateUnderline-hewi36y ease-in-out;
  -webkit-animation-duration: var(--hewi36y-1);
  animation-duration: var(--hewi36y-1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes animateUnderline-hewi36y {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}
@keyframes animateUnderline-hewi36y {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}
