name = "setsun-xyz"
compatibility_date = "2026-02-08"
compatibility_flags = ["nodejs_compat"]
main = "@tanstack/react-start/server-entry"

[assets]
binding = "ASSETS"
directory = "./.output/public"

[[routes]]
pattern = "setsun.xyz"
custom_domain = true

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
