* {
  box-sizing: border-box;
  font-family: 'Thasadith', serif;
  font-weight: 300;
}
ul {
  padding: 0;
}
a {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: 0.3s color ease-in-out;
  transition: 0.3s color ease-in-out;
  margin: 0 0.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
a:hover {
  color: #808080;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  -webkit-animation: 1.5s lightsOff-sew27ew ease-in-out;
  animation: 1.5s lightsOff-sew27ew ease-in-out;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes lightsOff-sew27ew {
  from {
    background: white;
  }
  to {
    background: black;
  }
}
@keyframes lightsOff-sew27ew {
  from {
    background: white;
  }
  to {
    background: black;
  }
}
