@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 bg-slate-950 p-0 text-white;
  font-family:
    var(--font-inter),
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }

  .font-antonio {
    font-family: var(--font-antonio);
  }

  .view-transition-component {
    view-transition-name: view-transition-component;
  }
}
